p{
    text-align: center;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h5{
        text-align: start;
    }
}
.table-container{
    height: 100%;
    max-height: calc(100vh - 550px);
    overflow: auto;
    table{
        border-collapse: collapse;
        width: 100%;
    }
    thead > tr{
        position: sticky;
        background-color: #26777a;
        top: 0;
        z-index: 1;
    }
    tbody tr{
        border-bottom: 1px solid #ffffffc9;
        transition: all 0.3s ease-in-out;
        /* cursor: url("/cursor1.png"), auto; */
    }
    td,th{
        padding: 10px;
        text-align: center;
    }
}
table tbody tr:nth-child(2n):hover{
    background-color: #26777a6e;
}